.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 25%;
    margin-top: 0;
}
.form form {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    padding: 10px;
    margin-right: 40%;
}
/* 
.form .name {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
} */

.form div {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
}

.form input {
    margin-left: 10px;
    width: auto;
}

button {
    background-color: aqua;
    border-radius: 10px;
    align-items: center;

    margin-right: 13%;
}