.ytimg {
    width: 5%;
    height: 70%;
}

.styimg {
    width: 10%;
    height: 70%;
}

.fbimg {
    margin-top: -1%;
    width: 6%;
    height: 50%;
}

.footcon {
    margin-left: 10%;
}

.stycon {
    margin-right: 15%;
}